# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
*/build

# misc
.DS_Store

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# formatting
.prettierrc

# Visual Studio Code # 
.vscode/* 
.vscode/
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.vscode/

# Python # 
*.py[cod] 
*$py.class 

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

